.RatingUl {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    margin: 0;
    padding: 0;
}

.Star {
    width: 36px;
    height: 36px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CheckedStar {
    color: #FF6060;
}

.UncheckedStar {
    color: #E3E3E3;
}

@media only screen and (max-width: 600px) {
    .Star {
        width: 22px;
        height: 22px;
        font-size: 14px;
    }
}