.MainLogement {
    padding: 20px 20px 20px 20px;
}

.Carousel {
    height: 415px;
    position: relative;
}

.LayoutLogement {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 30px 0 24px 0;
}

.Dropdown {
    display: flex;
    justify-content: space-between;
    gap: 76px;
}

@media only screen and (max-width: 600px) {
    .Carousel {
        height: 223px;
    }

    .LayoutLogement {
        display: grid;
        grid-template-columns: 1fr;
        padding: 15px 0 16.5px 0;
        row-gap: 16px;
    }

    .Dropdown {
        flex-wrap: wrap;
        gap: 20px;
    }
}